body {
    font-family: Arial, sans-serif;
  }
  .box {
    color: white;
    font-size: 25px;
    text-align: center;
    width: 300px;
    height: 220px;
    background-color: green;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }